main{
    .container{
        .row{
           .frase{
                font-family: 'Anton', sans-serif;
                font-style:italic ;
                font-size: 1.5rem;
                text-align: center;
           } 
        }
    }
}